Dear sir/Madam,<br/><br/>

You have requested to register to <a href="https://www.bluejong.org">Bluejong<a><br>
Please click on the link below to proceed:<br/><br/>

<a href="{{link}}">{{link}}</a><br/><br/>

Sincerly,
Bluejong